<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
    <style>.wow:first-child {visibility: hidden;}</style>
  	<title>IdeaTouch</title>
  </head>

  <body>

      <div class="box-wall3">    
        <div id="clearance" class="sign-in">
            <br>
            <h2><img src="/assets/img/160.png" alt="logotipo" ></h2>
            <h2><%= t '.title' %></h2>
			      <div class="hh4"><%= render partial: '/sessions/form' %></div>
		    </div>
      </div>

  </body>
</html>