<html>
  <head>

    <!-- animsition CSS -->
    <link rel="stylesheet" href="./assets/dist/css/animsition.min.css">
    <!-- vendor js -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- animsition js -->
    <script src="./assets/dist/js/jquery.animsition.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="first.css">
    <style>.wow:first-child {visibility: hidden;}</style>
    <title>IdeaTouch</title>
  </head>

  <body>



    <div class= "wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
    <div id="topo">
      <div class="topo-Logo wow fadeIn" data-wow-duration="1.0s" data-wow-delay="1.0s">
          IDeaTouch
      </div>
      <a class="animsition-link">
        
        <%= link_to sign_out_path, method: :delete  do %>
        <div class="topo-perfil wow fadeInRight" data-wow-duration="1.1s" data-wow-delay="1.1s">
          <span class="glyphicon glyphicon-off" aria-hidden="true">
          </spam>
        </div>
        <% end %>

      </a>
      <div class="topo-perfil wow fadeInRight" data-wow-duration="1.2s" data-wow-delay="1.2s">
         <span class="glyphicon glyphicon-user" aria-hidden="true">
         </spam>
      </div>

      <div class="topo-perfil wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="1.3s">
        <span class="glyphicon glyphicon glyphicon-bell" aria-hidden="true">
      </spam>
      </div>
      </div>
    </div>
    <br><br><br>





    <div class="noise"><div id="meio">
        <div id="box-3" class="box">


          <!--Dynamics -->


            <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s" >
              <%= link_to dynamics_path , method: :get  do %>
              <div class="dynamicAzul"> 
                <h2>Dynamic</h2> 
                IDeaTouch
              </div>
              <% end %>
            </div>
          

          <a class="animsition-link" href="./design.html">
          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="dynamicLaranja"> <h2>Dynamic</h2> 1</a></div></div></a>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicRed"> <h2>Dynamic</h2>2</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicAmarelo"> <h2>Dynamic</h2>3</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicCinza"> <h2>Dynamic</h2>4</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicAzulClaro"> <h2>Dynamic</h2>5</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicRoxo"> <h2>Dynamic</h2>6</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicCastanho"> <h2>Dynamic</h2>7</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicVerde"> <h2>Dynamic</h2>8</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicCinza"> <h2>Dynamic</h2>9</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicAzulClaro"> <h2>Dynamic</h2>10</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicRoxo"> <h2>Dynamic</h2>11</a> </div></div>



          <br><br>
          <div class="linee wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s"></div>
          <br>

          <div class="dynamicMenu wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">
                  <br>
                  <div class="hh1"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" >
                  </span> </div> <div class="hh2"> New Dynamic</div>

          </div>





          <br><br><br>


          <!--Boards -->
    
          <a class="animsition-link" href="./dynamics.html">
          <div class = "hvr-curl-top-left2 wow rotateIn" href="./index.html" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="dynamicAzul"><div class"thing_you_want_to_filter"> <h2>Dynamic</h2> IDeaTouch</a></div></div></div></a>

          <a class="animsition-link" href="./notes.html">
          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="boardAzul"><div class"thing_you_want_to_filter"> <h2>Board</h2> Default</a></div></div></div>
           </a>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="boardLaranja"><div class"thing_you_want_to_filter"> <h2>Board</h2> 1</a></div></div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardRed"> <h2>Board</h2>2</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardAmarelo"> <h2>Board</h2>3</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardCinza"> <h2>Board</h2>4</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardAzulClaro"> <h2>Board</h2>5</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardRoxo"> <h2>Board</h2>6</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardCastanho"> <h2>Board</h2>7</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardVerde"> <h2>Board</h2>8</a> </div></div>
          
          <br><br>
          <div class="linee wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s"></div>
          <br>

          <div class="boardMenu wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s"> 
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-star" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Favorits</div>
           </div>

            <div class="boardMenu wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"> 
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-stats" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Statistics</div>
           </div>


          <div class="boardMenu wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s"> 
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-th-large" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Create Board</div>
           </div>

            <div class="dynamicMenu wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s"> 
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-envelope" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Invite People<br>to Dynamic</div>
           </div>      
          
            <div class="dynamicMenu wow fadeInUp" data-wow-duration="0.9s" data-wow-delay="0.9s"> 
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-cog" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Edit Dynamic</div>
           </div>         

            <div class="dynamicMenu wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="1.0s"> 
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Delete Dynamic</div>
           </div>






          <br><br><br>


          <!--Dynamics -->



          <a class="animsition-link" href="./dynamics.html">
          <div class = "hvr-curl-top-left2 wow rotateIn" href="./index.html" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="dynamicAzul"><div class"thing_you_want_to_filter"> <h2>Dynamic</h2> IDeaTouch</a></div></div></div></a>

         
          <a class="animsition-link" href="./boards.html">
          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.8s" ><div class="boardAzul"> <h2>Board</h2> Default</a></div></div><a>

          <div class = "hvr-curl-top-left  wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="notaAzul">  <h2>title</h2>write here!</a></a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaLaranja"> <h2>title</h2>write here!</a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaRed"> <h2>title</h2>write here! </a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaAmarelo"> <h2>title</h2>write here! </a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaCinza"> <h2>title</h2>write here! </a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaAzulClaro"> <h2>title</h2>write here! </a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaRoxo"> <h2>title</h2>write here!</a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaCastanho"> <h2>title</h2>write here! </a> </div></div>


          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaVerde"> <h2>title</h2>write here! </a> </div></div>



          <br>

          <br><br>
          <div class="linee wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s"></div>
          <br>

          <div class="notaMenu wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">                
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-file" aria-hidden="true" >
                  </span> </div> <div class="hh2"> New Note</div> 
          </div>

          <div class="notaMenu wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">                
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" >
                  </span> </div> <div class="hh2"> View Note</div> 
          </div>

          <div class="notaMenu wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-pencil" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Edit Note</div> 
          </div>
          <div class="notaMenu wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s"> 
                        <br>
                  <div class="hh1"><span class="glyphicon glyphicon-move" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Move to Board</div> 
           </div>
          <div class="notaMenu wow fadeInUp" data-wow-duration="0.9s" data-wow-delay="0.9s"> 
                        <br>
                  <div class="hh1"><span class="glyphicon glyphicon-trash" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Delete Note</div> 
           </div>


           <div class="boardMenu wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="1.0s"> 
                        <br>
                  <div class="hh1"><span class="glyphicon glyphicon-edit" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Edit Board</div> 
           </div>

           <div class="boardMenu wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="1.0s"> 
                        <br>
                  <div class="hh1"><span class="glyphicon glyphicon-minus" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Delete Board</div> 
           </div>


      </div>




    </div>



    <script src="js/wow.js"></script>
    <script>wow = new WOW({animateClass:'animated',offset:100,
      callback:function(box){console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")}});
      wow.init();
      document.getElementById('moar').onclick = function() {
      var section = document.createElement('section');
      section.className = 'section--purple wow fadeInDown';
      this.parentNode.insertBefore(section, this);};
    </script>


      



  </body>
</html>

