  <html>
  <head>

    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/hover.css">
    <link rel="stylesheet" href="first.css">
    <style>.wow:first-child {visibility: hidden;}</style>
    <title>IdeaTouch</title>


  </head>

  <body>


    <div id="topo">
      <div class ="topo-esquerda">
      </div>

      <div class ="topo-meio">
       <div class="wow tada" data-wow-duration="0.5s" data-wow-delay="0.5s"> 
        <h1>IDeaTouch</h1>
       </div>
               <h1>IDeaTouch</h1>

      </div>

      <div class="topo-direita wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s"> 
        <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/record.png" width=55% /> </a>
      </div>
      <div class="topo-direita wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s"> 
        <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/anonymous_1.png" width=55% /> </a>
      </div>
      
      <div class="topo-direita wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"> 
        <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/list.png" width=55% /> </a>
      </div>

      <div class="topo-direita wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s"> 
        <a href="#" class="hvr-buzz"> <img alt="Rails" src="/assets/img/icons/school_bell.png" width=55% /> </a>
      </div>
    </div>


    <div id="box-2" class="box wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
          <div class="vertical"></div>
    </div>
    
    


    <div class="noise"><div id="meio">
        <div id="box-3" class="box">

          <!--Dynamics -->
          <div id="rodape"class="wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s"> <h3>Dynamics</h3> </div>


          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="dynamicAzul"><div class"thing_you_want_to_filter"> <h2>Dynamic</h2> IDeaTouch</a></div></div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="dynamicLaranja"><div class"thing_you_want_to_filter"> <h2>Dynamic</h2> 1</a></div></div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicRed"> <h2>Dynamic</h2>2</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicAmarelo"> <h2>Dynamic</h2>3</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicCinza"> <h2>Dynamic</h2>4</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicAzulClaro"> <h2>Dynamic</h2>5</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicRoxo"> <h2>Dynamic</h2>6</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicCastanho"> <h2>Dynamic</h2>7</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicVerde"> <h2>Dynamic</h2>8</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicCinza"> <h2>Dynamic</h2>9</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicAzulClaro"> <h2>Dynamic</h2>10</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicRoxo"> <h2>Dynamic</h2>11</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicCastanho"> <h2>Dynamic</h2>12</a> </div></div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicVerde"> <h2>Dynamic</h2>13</a> </div></div>

          <div class="dynamicMenu wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"> <h2>Create</h2></a><a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/add.png" width=85%/> </a> </div>


          <br><br><br><br><br><br>


          <!--Boards -->

          <div id="rodape"class="wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s"> <h3>Boards</h3> </div>
    
          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicRed"> <h2>Dynamic</h2>2</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="boardAzul"><h2>Board</h2> All</a></div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="boardLaranja"><h2>Board</h2> 1</a></div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardRed"> <h2>Board</h2>2</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardAmarelo"> <h2>Board</h2>3</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardCinza"> <h2>Board</h2>4</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardAzulClaro"> <h2>Board</h2>5</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardRoxo"> <h2>Board</h2>6</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardCastanho"> <h2>Board</h2>7</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="boardVerde"> <h2>Board</h2>8</a> </div></div>
          <div class="boardMenu wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s"> <h2>Favorites</h2><a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/shape_star.png" width=85%/> </a> </div>
          <div class="boardMenu wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"> <h2>Statistics</h2><a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/statistics.png" width=85%/> </a> </div>
          <div class="boardMenuD wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"> <h2>Invite People</h2></a> <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/envelope_open.png" width=85%/> </a></div>
          <div class="boardMenuD wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s"> <h2>Create Board</h2></a> <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/backgrounds.png" width=85%/> </a></div>
          

          <br><br><br><br><br><br>

          <!--notes -->

          <div id="rodape"class="wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s"> <h3>Notes</h3> </div>

          <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="dynamicRed"> <h2>Dynamic</h2>2</a> </div></div>

          <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.8s" ><div class="boardAzul"><h2>Board</h2> All</a></div></div>

          <div class = "hvr-curl-top-left  wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div class="notaAzul"> <h2>1</h2>IDeaTouch</a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaLaranja"> <h2>2</h2>IDeaTouch</a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaRed"> <h2>3</h2></a>IDeaTouch</div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaAmarelo"> <h2>4</h2>IDeaTouch</a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaCinza"> <h2>5</h2>IDeaTouch</a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaAzulClaro"> <h2>6</h2>IDeaTouch</a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaRoxo"> <h2>7</h2></a> IDeaTouch</div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaCastanho"> <h2>8</h2> IDeaTouch</a> </div></div>

          <div class = "hvr-curl-top-left wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><div class="notaVerde"> <h2>9</h2>IDeaTouch </a> </div></div>


          <div class="notaMenu wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s"><h2>Add</h2></a> <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/edit.png"  width=85%/> </a> </div>
          <div class="notaMenuD wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s"> <h2>Edit</h2> <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/pencil.png"  width=85%/> </a> </div>
          <div class="notaMenuD wow fadeInUp" data-wow-duration="0.9s" data-wow-delay="0.9s"> <h2>Send to Board</h2></a> <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/animation.png"  width=85%/> </a></div>
          <div class="notaMenuD wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="1.0s"> <h2>Delete</h2></a> <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/trash_can.png"  width=85%/> </a> </div>
          <div class="notaMenuD wow fadeInUp" data-wow-duration="1.1s" data-wow-delay="1.1s"> <h2>Change Color</h2></a> <a href="#" class="hvr-pulse"> <img alt="Rails" src="/assets/img/icons/color.png"  width=85%/> </a></div>

          <br><br><br><br><br><br>

          <div id="rodape"class="wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s"> <h3>Window</h3> </div>

          <div id="bg" class="wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s" ><div id="search-container"><div id="search-bg" class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.5s" ></div><div id="search"><h2>IDeaTouch is Coming </h2>


          <% if signed_in? %>
          <!--<h2><%= current_user.email %></h2>-->
          <h2><img src="/assets/img/160.png" alt="logotipo" ></h2>

          <h2><%= button_to "Sign out", sign_out_path, method: :delete,:type =>type="button",:class=>'btn btn-danger' %></h2>
          <% else %>
          <%= link_to "Sign in", sign_in_path %>
          <% end %>
        </div></div></div>

          <div id="rodape"> <br><h4>designed by IDeaTouch</h4> </div>
      </div>


    </div>

    <script>wow = new WOW({animateClass:'animated',offset:100,
      callback:function(box){console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")}});
      wow.init();
      document.getElementById('moar').onclick = function() {
      var section = document.createElement('section');
      section.className = 'section--purple wow fadeInDown';
      this.parentNode.insertBefore(section, this);};
    </script>




  </body>
</html>

