// Place all the styles related to the whatis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
Castanho:	Vermelho-179	Verde-137	Azul: 82
Azul:		Vermelho-56		Verde-150	Azul-219
Roxo:		Vermelho-155	Verde-81	Azul-180
Verde:		Vermelho-28		Verde-206	Azul-114
Azul/Verde:	Vermelho-68		Verde-228	Azul-184
Laranja:	Vermelho-249	Verde-173	Azul-70
Vermelho:	Vermelho-231	Verde-69	Azul-53
Amarelo:	Vermelho-245	Verde-200	Azul-100
Cinzento:	Vermelho-148	Verde-164	Azul-165 
*/


.center{
	margin-left: auto;
	margin-right: auto;	
}



.box-wall2{
    /*background-image: url("/assets/img/rabisco.png");*/
    font-family: myFirstFont;
    border-radius:0px;
    width: 90%; 
    left: 5%;
    right: 5%;
    top: 0%;
    bottom: 10%;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    margin-bottom: 10px;
}

.hhpp{
    font-size:2em;   
    text-align: center;
    line-height:70px;

}

.boardRed2{ 
    font-family: myFirstFont;
	margin: 4px;
	margin-right: auto;
	margin-left: auto;
    border-radius:50px;
    font-size:15px;
    color:#ecf0f1;
    line-height:20px;
    text-align:center;
    height:150px;
    width:150px;
    background: linear-gradient(0deg, #e74c3c 50%,#D84A3A  1%,#DF4B3B  100%);
}
.boardRed2:hover{background: linear-gradient(180deg, #e74c3c 50%,#D84A3A  1%,#DF4B3B  100%);}

.notaAzulClaro2{ 
	font-family: myFirstFont;
    margin: 4px;
    margin-right: auto;
	margin-left: auto;
    border-radius:5px;
    font-size:15px;
    color:#ecf0f1;
    line-height:20px;
    text-align:center;
    background:#4CE2B8;
    height:150px;
    width:150px;
    background: linear-gradient(135deg, #3498db 50%,#3394D5  1%,#3394D5  100%);
}
.notaAzulClaro2:hover{
    background: linear-gradient(225deg, #3498db 50%,#3394D5  1%,#3394D5  100%);
}


.dynamicAzul2{ 
    font-family: myFirstFont;
	margin: 4px;
	margin-right: auto;
	margin-left: auto;
    border-radius:100px;
    font-size:15px;
    color:#ecf0f1;
    line-height:25px;
    text-align:center;
    background:#4CE2B8;
    height:150px;
    width:150px;
    background: linear-gradient(135deg, #4CE2B8 50%,#4BDCB3 1%, #4BDCB3 100%);
}
.dynamicAzul2:hover{background: linear-gradient(45deg, #4CE2B8 50%,#4BDCB3 1%, #4BDCB3 100%);}


.box-wall-text2{
    position: absolute;
    text-align: center;
    top:0%;
    left: 40%;
    right: 40%;
}

h3 {
	font-family: myFirstFont;
	text-align: center;
	margin-bottom: 20px;
	color: white;
	font-size: 60px;
}

h4 {
	font-family: myFirstFont;
	text-align: center;
	margin-bottom: 20px;
	color: white;
	font-size: 40px;
}

p {
	font-family: myFirstFont;
	color: white;
	text-align: center;
	font-size: 28px;

}


.boxtext {
	margin-top: auto;
	margin-left: 25px;
}


.logotipo {
	background-image: url(./img/logotipo.png);
	background-repeat: no-repeat;
	width: 300px;
	height: 60px;
	margin: 10px;
	background-size: 300px;
}

/*---------------------------------------------------------------------------------------*/
.boxwhatis {
	background-color: #FFDF5C;
}

.whatistitle {
	margin-top: 0%;
	background-color: #FFDF5C ;
}

.imageWhatIs {
	margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
	background: url("./img/transferir.jpg") no-repeat ;
	background-attachment: scroll;
	background-size: 100% 110%;
	height: 320px;
}

/*---------------------------------------------------------------------------------------*/
.boxwhoisintendedto {
	background-color: rgb(143, 158, 159);
}

.whoisintendedtotitle {
	background-color: rgb(148, 164, 165);
}

.imageWhoIsIntendedTo {
	margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
	background: url("./img/asdd.jpg") no-repeat;
	background-size: 100% 140%;
	height: 320px;
}

/*---------------------------------------------------------------------------------------*/
.boxadvantagesofplatform {
	background-color: #26A9BA;
}

.advantagesofplatformtitle {
	background-color: #26A9BA;
}

.imageSession {
	margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
	background: url("./img/mapfs.jpg") no-repeat  ;
	background-attachment: scroll;
	background-size: 100% 180%;
	height: 320px;
}

/*---------------------------------------------------------------------------------------*/
.boxhowitworks {
	background-color: #E87A5F;
	display: inline-block;
}

.howitworkstitle {
	background-color: #FF8566 ;
}

.step {
	display: in-line ;
	float : left;
	background-color: #FF8566 ;
	width: 100%;
	height: auto;
	margin-top: 8px;
}

.minion {
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-image: url(./img/avatars/as.png);
	background-repeat: no-repeat;
	height: 110px;
	width: 110px;
	background-size: 110px;
}

.logoicon {
	display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
	background-size: 90%;
	height: 150px;
	width: 110px;
	background-image: url("./img/160.png");
}