    <div id="topo">
      <div class="topo-Logo wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
          IDeaTouch
      </div>

      
      <a class="animsition-link">
        <%= link_to sign_out_path, method: :delete  do %>
        <div class="topo-perfil wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.6s">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></spam>
        </div>
        <% end %>
      </a>

      <!-- sino notificaçoes -->
      <% if @notifications==0 %>
      <%= link_to notifications_path , method: :get  do %>
      <div class="hvr-buzz-out">
      <div class="topo-perfil2 wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s">
         <span class="glyphicon glyphicon glyphicon-bell" aria-hidden="true"></spam>
      </div>  
      </div>
      <% end %>
      <% else %>

      <%= link_to notifications_path , method: :get  do %>
      <div class="topo-perfil wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s">
         <span class="glyphicon glyphicon glyphicon-bell" aria-hidden="true"></spam>
      </div>
      <% end %>
      <!-- -->
      <% end %>

      <div class="topo-perfil wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.8s">
         <span class="glyphicon glyphicon-user" aria-hidden="true">
         </spam>
      </div>

      <div class="topo-perfil wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.8s">
         <span class="glyphicon glyphicon-picture" aria-hidden="true">
         </spam>
      </div>

      <div class="topo-nome wow fadeInRight" data-wow-duration="0.9s" data-wow-delay="0.9s">
         <%=current_user.nome%>
      </div>

      </div>
